extends layout

block content
  script(src='/javascripts/index.js')
  h1= title
  img.tube(src='/images/image1.gif')
  img.tube(src='/images/image1.gif')
  div#numberDiv
  p 해파리에게 로또 자릿수 받고 싶습니까?

  button#btnYes.btn.btn-primary(type='button') 네!!
  <br>